<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Insider Careers Suite" verbose="1">
    <test name="Assignment Flow">
        <classes>
            <!-- 1. Home page basic smoke -->
            <class name="com.insider.tests.HomePageSmokeTest"/>

            <!-- 2. Careers navigation -->
            <class name="com.insider.tests.CareersNavigationTest"/>

            <!-- 3. Careers page content checks -->
            <class name="com.insider.tests.CareersPageTest"/>

            <!-- 4. QA careers page -->
            <class name="com.insider.tests.QaCareersPageTest"/>

            <!-- 5. Open positions filters + Lever tab -->
            <class name="com.insider.tests.OpenPositionsPageTest"/>

        </classes>
    </test>
</suite>
